body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-logo .logo {
    max-width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #FFD700;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid #FFD700;
    border-radius: 20px;
    transition: all 0.3s;
}

nav ul li a:hover {
    background-color: #FFD700;
    color: #000;
}
.cart-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    color: #FFD700;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

.cart-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFD700;
}

.cart-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 215, 0, 0.1);
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cart-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 215, 0, 1);
}

.cart-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.cart-item-details {
    margin-top: 10px;
}

.cart-item-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.cart-item-price {
    font-size: 16px;
    color: #FFD700;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.cart-item-quantity input {
    width: 50px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #FFD700;
    border-radius: 10px;
    background-color: #333;
    color: #FFD700;
}

.cart-item-remove {
    background-color: #FFD700;
    color: #000;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.cart-item-remove:hover {
    background-color: #000;
    color: #FFD700;
}

.cart-total {
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
}

.checkout-button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #FFD700;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
}

.checkout-button:hover {
    background-color: #000;
    color: #FFD700;
}
footer {
    background-color: #333;
    color: #FFD700;
    text-align: center;
    padding: 10px 0;
}

footer .social-icons {
    margin-bottom: 10px;
}

footer .social-icons a {
    color: #FFD700;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #fff;
}