body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-logo .logo {
    max-width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #FFD700;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid #FFD700;
    border-radius: 20px;
    transition: all 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #FFD700;
    color: #000;
}

.contact-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    color: #FFD700;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.map-container {
    margin-bottom: 20px;
}

.contact-details {
    margin-bottom: 20px;
}

.contact-details h2 {
    color: #FFD700;
}

.branch-addresses, .social-icons, .phone-number {
    margin-bottom: 20px;
}

.branch-addresses ul, .social-icons ul {
    list-style: none;
    padding: 0;
}

.branch-addresses li, .social-icons li {
    margin-bottom: 10px;
}

.social-icons li a {
    color: #FFD700;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icons li a:hover {
    color: #fff;
}

.mission-vision-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    color: #FFD700;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
    text-align: center;
}

.mission-vision h3 {
    color: #FFD700;
}

.mission-vision p {
    margin: 0 0 20px;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #FFD700;
    text-align: center;
    padding: 10px 0;
}

footer .social-icons {
    margin-bottom: 10px;
}

footer .social-icons a {
    color: #FFD700;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #fff;
}
